<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Sample3</title>
</head>
<body>
    <table border="1">
        <tr>
            <td>INDEX</td>
            <td>MID</td>
            <td>MNAME</td>
            <td>REGDATE</td>
        </tr>
        <tr th:each="member, iterState : ${list}">
            <td th:text="${iterState.index} "></td>
            <td th:text="${member.mid}"></td>
            <td th:text="${member.mname}"></td>
            <td th:text="${#dates.format(member.regdate,'yyyy-MM-dd')}"></td>

        </tr>

    </table>
</body>
</html>